.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
    &__logo {
    display: flex;
    align-items: center;
        &--image {
        max-width: 100%;
        width: 270px;
        margin-bottom: 3px;
        }
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      text-decoration: none;
      margin-right: 1rem;
    }
}
.main-nav a {
  font-weight: bold;
  font-size: 21px;
  color: #2c3e50;
}
.main-nav a.router-link-exact-active {
  color: #42b983;
}
.main-nav__item:hover {
  text-decoration: underline;
}



