.hero {
    background-image: url('../../assets/bank-tree.jpeg');
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    &__content {
        position: relative;
        top: 2rem;
        width: 200px;
        background: white;
        padding: 2rem;
        text-align: left;
        margin: 0 auto;
        transform: scale(1.33); 
        transform-origin: top center; 
        &--subtitle {
            font-weight: bold;
            font-size: 1rem;
            margin: 0;
        }
        &--text {
            margin-bottom: 0;
            font-size: 0.9rem;
        }
    }
}
@media (min-width: 920px) {
    .hero {
    height: 535px;
    background-position: 0% 33%;
        &__content {
            position: absolute;
            top: 80px;
            right: 140px;
            width: 300px;
            margin: 2rem;
            &--subtitle {
                font-size: 1.5rem;
            }
            &--text {
                font-size: 1.2rem;
            }
        }
    }
}
.features {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
    &__item {
            flex: 1;
            padding: 2.5rem;
            &--icon {
                width: 140px;
                border: 12px solid #00bc77;
                border-radius: 50%;
                padding: 1.2rem;
            }
            &--title {
                color: #222;
                font-size: 1.7rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            &--text{
                font-size: 1.4rem;
            }
    }
}
@media (min-width: 920px) {
    .features {
        flex-direction: row;
    }
}